.create-container {
    text-align: center;
    margin: 0 auto;
    min-width: 25rem;
    position: relative;
    margin-top: 5%;
  }
  
  .createnew-header {
    font-size: 300%;
    font-weight: 300;
    text-align: center;
    letter-spacing: 0.35rem;
  }
  
  .createnew-form-container {
    margin: 0.5rem 0rem 1rem 0rem;
    padding: 1rem 0rem;
    background-color: rgb(217, 85, 21, 0.35) !important;
    border: 1px solid #d95515 !important;
    border-radius: 0.5rem;
  }
  
  .createnew-form {
    color: #212529;
    text-align: left;
    font-weight: 400;
    font-size: 120%;
    padding: 10px;
  }
  
  #createnew-submit {
    background-color: rgb(190,42,13, 0.35);
    border: 1px solid #d95515 !important;
  }
  
  #createnew-submit:hover {
    border: 1px solid #d95515 !important;
    background-color: rgba(185, 75, 20, 0.5) !important;
  }
  
  /*-------------------Mobile View --------------*/
  @media (max-width: 480px) {
    .create-container {
      margin: 0rem 1rem;
      min-width: 20rem;
    }
  }
  