#activity-card {
    display: block;
    margin: auto;
    text-align: left;
    border: 1px solid #d95515;
    border-radius: 2%;
    margin: 0.5em 0em;
}

#card-title {
    padding-top: 1.5em;
    padding-left: 0.2em;
    font-weight: 700 !important;
}

#card-rating {
    font-size: 120% !important;
    letter-spacing: 0.1em;
    padding-left: 0.2em;
}

#card-review {
    padding: 0em 1em;
    text-align: justify
}

#sub-container {
    margin: 1.3em;
}

#sub-title {
    font-size: 100%;
    letter-spacing: 0.2em;
    font-weight: 500;
}

#card-subtitle {
    background: rgba(217,85,21, 0.5);
    text-align: center;
    border-radius: 2%;
    padding: 0.5em;
    margin: 0.5em 0em;
}

/* profile  */

#card-header {
    font-size: 220%;
    margin-bottom: -1em;
    margin-left: 0.5em;
}

@media (max-width: 1000px) {

    #card-rating {
        text-align: center;
        margin-top: -2em;
    }

    #card-header {
        text-align: center;
    }

    #card-title {
        line-height: 1.8em;
        padding: 2em 0em 1em 0em;
        text-align: center;
    }
}