.about-container {
    text-align: center;
    margin: 5em 0em;
}

.about-body {
    padding: 1em 1em;
    text-align: justify;
}

.about-link {
    color: #d9a51f !important;
    letter-spacing: 0.2em;
}

.about-link:hover {
    text-decoration: none;
    opacity: 0.7;
}

/* Headshots */

#team-headshot {
    width: 10em;
    border-radius: 50%;
    margin-top: 2em;
    margin-bottom: 0.5em;
    box-shadow: 0em 0em 2.5em 0.1em rgba(217,165,31, 0.75)
}

#team-headshot:hover {
   opacity: 0.9;
}

#headshot-name {
    font-size: 140%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

#headshot-roll {
    font-size: 110%;
    margin-top: -1.2em;
    font-weight: 300;
    letter-spacing: 0.2em;
}


