.left-panel {
  margin: 15em 8em 1em 8em;
}

.sub-head {
    font-weight: 300;
    letter-spacing: 0.2em;
    padding-left: 0.15em;
    margin-top: 0.3em;
    margin-bottom: 0.5em;
}

.right-panel {
  float: right !important;
  margin-top: -30em;
  margin-right: 2em;
}

.mobile-break {
  display: inline-block;
}

@media (max-width: 1000px) {
  /* LOGIN PAGE */
  .login-container {
    margin: 1em;
    float: left !important;
  }

  .left-panel {
    margin: 2.5em 0.5em;
  }

  .mobile-break {
    display: inline-block;
  }

  .right-panel {
    justify-content: center;
    margin-top: 0rem;
    margin-left: 1.5rem;
    float: left !important;
    position: fixed;
  }
}
