.page-container {
  margin: 0em 25em;
}

.header-container {
  margin: 1.5em 0em;
}

.page-image {
  object-fit: cover;
  width: 7em;
  height: 7em;
  opacity: 0.95;
  border-radius: 50%;

}

.page-title {
  font-weight: 200;
  font-size: 270%;
  letter-spacing: 0.5rem;
  padding-top: 0.6em;
  padding-left: 0.7em;
}

.info-panel {
    background-color: rgb(190,42,13, 0.5) !important;
}

.activity-panel {
  background-color: rgb(98,19,10, 0.5) !important;
  margin-top: 1em;
}
    
@media (max-width: 480px) {

    .page-container {
        max-width: 35rem;
        margin-top: -5%;
        padding: 3rem 1rem 1rem 1rem;
    }

    .page-image {
      max-width: 20rem;
    }

    #page-block {
        min-width: 15rem;
    }

    #block-header {
        font-size: 115%;
    }

    /* PROFILE PAGE ------------------------------------------------ */

    .page-container {
      margin: 0em 1em;
    }
   
   .header-container {
      margin-top: -1em;
      text-align: center;
   } 


   .page-title {
     font-size: 170%;
     font-weight: 400;
   }

    .edit-usr-int-btn {
        font-size: 90%;
        margin-left: -1rem;
    }

}  

