body {
  background-image: linear-gradient(-45deg, #d9a51f, #d95515, #be2a0d, #62130a);
  background-size: 120% 200%;
  font-family: 'Dosis', sans-serif;
  color: #dee2e6;
}

h1 {
  background: -webkit-linear-gradient(#d9a51f, #be2a0d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* LOGIN PAGE ------------------------------------------------------ */
.login-container {
  text-align: center;
  margin-top: 15%;
  margin-left: 38%;
  max-width: 27rem;
}

.login-header {
  font-size: 500%;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2rem;
  margin-bottom: 1.5rem;
}

.login-btn {
  background-color: rgb(98,19,10, 0.65);
  border: 0.1rem solid #62130A ;
}

.account-btn {
  background-color: rgb(98,19,10, 0.35);
  border: 0.1rem solid #62130A ;
  color: #fff;
}

#login-buttons {
  margin: 0.2rem 0rem;
  letter-spacing: 0.4rem;
}

#login-buttons:hover {
    background-color: rgb(190,42,13, 0.65) !important;
    border: 0.1rem solid #BE2A0D ;
    color: #fff;
}


/* PROFILE/TOPIC PAGES ------------------------------------------------ */
#page-container {
    max-width: 60rem;
    align-self: center;
    margin-top: 5%;
    padding: 2rem 5rem;
    border-radius: 2%;
}

#page-header {
  text-align: center;
  margin-bottom: 0.4rem;
}

#page-image {
  object-fit: cover;
  width: 50rem;
  max-height: 15rem;
  opacity: 0.95;
  border-radius: 1%;
}

#page-title {
  font-weight: 400;
  letter-spacing: 0.3rem;
}

#block-header {
    font-size: 130%;
    font-weight: 500;
    text-align: left;
    margin: 0rem 0.8rem;
    letter-spacing: 0.3rem;
}

#page-block-1 {
    background-color: rgb(190,42,13, 0.5);
    border-radius: 2%;
    padding: 1rem 0.5rem;
    margin: 0.5rem 0rem;
}

#page-block-2 {
  background-color: rgb(98,19,10, 0.5);
  border-radius: 2%;
  padding: 1rem 0.5rem;
  margin: 0.5rem 0rem;
}
    
/* USER PAGE ------------------------------------------------ */
    /* STREAM BUTTONS */
    #usr-stream {
        margin: 0rem 0.5rem;
        width: 15rem;
        overflow: hidden;
        white-space: nowrap;
    }  

    #usr-stream-txt {
        margin: 0rem 1rem;
        font-size: 90%;
        color: #d9a51f;
        font-weight: 400;
        letter-spacing: 0.1rem;
        animation: floatText 5s infinite linear;
    }
    
    #usr-stream-btn:hover {
        animation-play-state: paused;
    }


/* SETTINGS PAGE -------------------------------------------------- */
.settings-container {
  text-align: center;
  margin: 0rem 20rem;
  padding-top: 5%;
  min-width: 35rem;
}

.settings-header {
  font-weight: 300;
  letter-spacing: 1.5rem;
}

#settings-block {
  margin: 0.5rem 0rem 1rem 0rem;
  padding: 1rem 0rem;
}

  /* ACCOUNT SETTINGS */
  .acct-set-container {
    background-color: rgb(98,19,10, 0.35);
    border: 1px solid #62130a;
  }

  #input-form {
    max-width: 20rem;
  }

  /* USER PREFERENCES */
  .usr-pref-container {
    background-color: rgb(217,85,21, 0.35);
    border: 1px solid #D95515;
  }

  #preference-block{
    margin: -0.5rem 0.5rem;
    background-color: transparent;
    color: #212529;
  }

  #preference-label {
    text-align: left;
    font-weight: 400;
    font-size: 120%;
  }


/* NO MATCHES PAGE ------------------------------------------------ */

.no-match-container {
  text-align: center;
  margin-top: 7%;
};

.no-match-image {
  border-radius: 5%;
}

.no-match-title {
  font-weight: 500;
  letter-spacing: 1rem;
}

#no-match-body {
  font-weight: 200;
  font-size: 150%;
  letter-spacing: 0.2rem;
  color: #dee2e6;
}
    
/* MOBILE VERSION ----------------------------------------------------------------------------------------------------------------  */
@media (max-width: 480px) {
 
    /* LOGIN PAGE */
    .login-container {
        margin-left: 4rem;
        margin-bottom: 0.5rem;
        padding-top: 3rem;
        max-width: 15rem;
    }

    .login-header {
        font-size: 325%;
        text-align: center;
        opacity: 0.85;
        margin-bottom: 0.8rem;
        letter-spacing: 1rem;
    }

    /* PROFILE/TOPIC PAGES ------------------------------------------------ */
    #page-container {
        max-width: 35rem;
        margin-top: -5%;
        padding: 3rem 1rem 1rem 1rem;
    }

    #page-image {
      max-width: 20rem;
    }

    #page-block {
        min-width: 15rem;
    }

    #block-header {
        font-size: 115%;
    }

    /* PROFILE PAGE ------------------------------------------------ */
    #usr-stream {
        width: 8rem;
    }

    .edit-usr-int-btn {
        font-size: 90%;
        margin-left: -1rem;
    }

    /* SETTINGS PAGE -------------------------------------------------- */
    .settings-container {
      margin: 0rem 0.5rem;
      width: 100%;
    }
}


/* ANIMATIONS ------------------------------------------------ */

@keyframes floatText {
    to {
      transform: translateX(-100%);
    }
  }
