.dashboard-container {
  margin: 2rem 5rem;
}


.header-container {
  display: inline-flex;
  width: 100%;
  min-height: 15rem;
  margin-bottom: 0.5rem;
}

#poll-act {
  background-color: rgb(98,19,10, 0.35) !important;
  border: 1px solid #62130a !important;
}

#right-block {
  height: 49%;
  background-color: rgb(217,85,21, 0.35) !important;
  border: 1px solid #62130a !important;
}

/* POLLS BLOCK --------------------------------------------- */

.polls-container { 
  min-height: 100%;
  margin-right: -0.5rem;
}

/* USER INFO BLOCK --------------------------------------------- */
.user-container {

}

/* SIMILAR USERS BLOCK  --------------------------------------------- */
.similar-container {
  margin-top: 0.15rem;
}

/* ACTIVITY BLOCK --------------------------------------------- */
.activity-container {
  min-height: 20rem;
}


/* MOBILE ---------------------------------------------------------------------- */
@media (max-width: 480px) {

}
