.navbar-logo {
  font-family: "Dosis", sans-serif;
  font-size: 35px;
  text-align: center;
  padding-top: 9px;
  margin-left: 1rem;
  background: -webkit-linear-gradient(#d9a51f, #be2a0d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.8rem;
  margin-bottom: 1.5rem;
}
