.select-container {
  margin-top: 5%;
  padding: 0rem 20rem;
}

.select-title {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 400;
  letter-spacing: 0.5rem;
  color: #62130A;
}

#select-button {
  background: rgb(217,85,21, 0.3);
  border: 1px solid #d95515;
  color: #dee2e6;
  font-size: 110%;
  font-weight: 400;
  letter-spacing: 0.2rem;
  padding: 0.8rem 0rem;
}

#select-button:hover {
  background: rgb(217,165,31, 0.3);
  border: 1px solid #d9a51f;
  font-weight: 600;
}

.dashboard-panel {
  background-color: #dcddc7;
}

@media (max-width: 480px) {

 .select-container {
   padding: 0rem 1rem;
 } 

 .select-title {
   font-size: 200%;
   letter-spacing: 0.1rem;
 }
  
}

  
