body {
  background-image: linear-gradient(-45deg, #d9a51f, #d95515, #be2a0d, #62130a);
  background-size: 100% 250%;
}

h1 {
  font-family: 'Dosis', sans-serif;
}

/* PAGE STYLING -------------------------------------- */
/* LOGIN */
.login-container {
  text-align: center;
  margin-top: 15%;
  margin-left: 38%;
  max-width: 27rem;
}

.login-header {
  font-size: 500%;
  background: -webkit-linear-gradient(#d9a51f, #be2a0d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2rem;
  margin-bottom: 1.5rem;
}

.login-btn {
  background-color: rgb(217,165,31, 0.65);
}

.account-btn {
  background-color: rgb(217,165,31, 0.35);
  border: 0.1rem solid #d9a51f;
  color: #fff;
}

#login-buttons {
  margin: 0.2rem 0rem;
}

/* PROFILE/TOPIC PAGES */
#page-container {
    background-color: rgb(190,42,13, 0.4);
    align-self: center;
    margin-top: 10%;
    padding: 2rem 5rem;
    border-radius: 2%;
}

#block-header {
    font-size: 130%;
    font-weight: 700;
    text-align: left;
    margin: 0rem 0.8rem;
    letter-spacing: 0.3rem;
}

#page-block {
    border-radius: 2%;
    padding: 1rem 0.5rem;
    margin: 0.5rem 0rem;
}

    /* BLOCK ONE  */
    .usr-int-container {
        background-color: rgb(190,42,13, 0.8);
    }

    /* BLOCK TW0  */
   .usr-act-container {
        background-color: rgb(98,19,10, 0.8);
   }
    

/* USER  */
.profile-picture {
    max-width: 8rem;
    border-radius: 50%;
}

.username {
    margin-top: -0.5rem;
}

    /* STREAM BUTTONS */
    #usr-stream {
        margin: 0rem 0.5rem;
        width: 15rem;
        overflow: hidden;
        white-space: nowrap;
    }  

    #usr-stream-txt {
        margin: 0rem 1rem;
        font-size: 90%;
        color: #d9a51f;
        font-weight: 400;
        letter-spacing: 0.1rem;
        animation: floatText 5s infinite linear;
    }
    
    #usr-stream-btn:hover {
        animation-play-state: paused;
    }

    /* USER INTERESTS */
    .edit-usr-int-btn {
        margin-bottom: -1.8rem;
        letter-spacing: 0.1rem;
    }
    
/* MOBILE VERSION ----------------------------------- */
@media (max-width: 480px) {
 
    /* LOGIN PAGE */
    .login-container {
        margin-left: 4rem;
        margin-bottom: 0.5rem;
        padding-top: 9rem;
        max-width: 15rem;
    }

    .login-header {
        font-size: 500%;
        opacity: 0.85;
        margin-bottom: 0.8rem;
        letter-spacing: 1rem;
    }

    /* PROFILE/TOPIC PAGES */
    #page-container {
        max-width: 35rem;
        margin-top: 20%;
        padding: 3rem 1rem 1rem 1rem;
    }

    #page-block {
        min-width: 15rem;
    }

    #block-header {
        font-size: 115%;
    }

    /* PROFILE PAGE */
    #usr-stream {
        width: 8rem;
    }

    .edit-usr-int-btn {
        font-size: 90%;
        margin-left: -1rem;
    }

}

/* ANIMATIONS */

@keyframes floatText {
    to {
      transform: translateX(-100%);
    }
  }
