* {
    background-image: url("../images/desktop.png");
}

@media (max-width: 480px){
    * {
        background-image: url("../images/mobile-background.png");
        background-size: stretch;
    }
}

/* PAGE STYLING */
/* LOGIN */