.flex {
  position: absolute;
  top: 15%;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.checkboxList {
  background-color: #dcddc7;
  text-align: center;
  color: #62130a;
  font-family: "Raleway", cursive;
  font-size: "25px";
  border-radius: 10px;
  margin-top: 10px;
}

.review-header {
  font-family: "Raleway", cursive;
}

.title-item {
  font-family: "Righteous", cursive;
  text-shadow: 3px 2px rgb(190, 42, 13, 0.85);
  color: #62130a;
  text-align: center;
  background-color: #d9a51f;
  border-radius: 10px;
}
