.no-match-container {
    text-align: center;
    margin-top: 7%;
  };
  
  .no-match-image {
    border-radius: 5%;
  }
  
  .no-match-title {
    font-weight: 500;
    letter-spacing: 1rem;
  }
  
  #no-match-body {
    font-weight: 200;
    font-size: 150%;
    letter-spacing: 0.2rem;
    color: #dee2e6;
    text-align: center;
  }