.title {
  font-family: "Righteous", cursive;
  font-size: 35px;
  text-align: center;
  padding-top: 9px;
  margin-left: 5px;
  text-shadow: 3px 2px rgb(190, 42, 13, 0.85);
  color: #d9a51f;
  letter-spacing: 1rem;
  margin-bottom: 1.5rem;
}

.nav-links {
  font-family: "Righteous", cursive;
  font-size: 20px;
  /* text-shadow: 3px 2px rgb(190, 42, 13, 0.85); */
  color: #d9a51f;
}
