.empty-container {
  height: 20rem;
}

.browse-container {
  margin-top: 5%;
  
}

.browse-title {
  text-align: center;
  margin-bottom: 1em;
  font-weight: 400;
  letter-spacing: 0.5rem;
  color: #ddd7d6;
}

.topic-links {
  text-align: center !important;
  margin: 0em 25em !important;
}

#topic-button {
  background: rgb(217,85,21, 0.3);
  color: #dee2e6;
  font-size: 110%;
  font-weight: 500;
  letter-spacing: 0.2em;
  padding: 0.5em 2em;
}

#topic-button:hover {
  text-decoration: none;
  background: rgb(217,85,21, 1);
}

#topic-button:focus {
  text-decoration: none;
  background: rgb(217,85,21, 1);
}

/* RESULTS ------------------------------------------------------------------------ */
.topic-container {
  margin: 2rem 0rem;
  padding: 0em -5em;
}

.topic-panel {
  background-color: transparent !important;
  text-align: center;
}

#results-container {
  margin: 0em 0.8em;
}

#results-button {
  width: 10em;
  margin: 0.8em;
  background-color: rgb(98,19,10, 0.55) ;
  border: 1px solid #62130a;
}

#topic-image {
    object-fit: cover;
    border-radius: 3%;
    overflow: hidden;
    width: 100%;
    height: 12rem;
}

@media (max-width: 480px) {

  .browse-container {
    padding: 0rem;
  }

  .topic-links {
    margin: -2em 0em !important;
  }

  #link-container {
    margin: 2em;
  }

  .topic-container {
    margin: 0rem 0rem;
  }

  #topic-image {
    height: 25rem;
  }

  #results-button { 
    width: 15em;
    height: 25em;
    margin: 0.5em -1em;
    padding: 0.5em
  }

  
}

  
