#usr-stream {
    width: 100%;
    overflow: scroll;
    white-space: nowrap;
}  

#usr-stream-txt {
    font-size: 90%;
    color: #d9a51f;
    font-weight: 400;
    letter-spacing: 0.1rem;
    text-align: center;
}


/* MOBILE ---------------------------------------------------------------------- */

@media (max-width: 480px) {

    .user-now-streaming {
        margin-top: 0.5em;
    }

    #usr-stream {
        width: 100%;
    }

}