.flex-dashboard {
  position: absolute;
  top: 15%;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.dashboard-title {
  text-align: center;
  background-color: #d9a51f;
  margin-bottom: 10px;
  border-radius: 10px;
  font-family: "Righteous", cursive;
  text-shadow: 3px 2px rgb(190, 42, 13, 0.85);
  color: #62130a;
}

.panel-item {
  background-color: #dcddc7;
  font-family: "Raleway", cursive;
  color: #62130a;
}

.dashboard-cards {
  /* Center vertically and horizontally */
  position: relative;
}
